cftime<1.1.1
pyproj<3
cf-units<=2.1.5
lxml<=4.2.3
pendulum<=2.0.2

# Current versions of compliance-checker (5.0.1) and cc-plugin-imos (1.5.3) both use deprecated types
# numpy.float / numpy.int which have been removed in numpy 1.24
numpy>=1.20.3,<1.24.0
