OWSLib
PyYAML
Wicken
cf_units
geopy==1.11.0
lxml
matplotlib==1.1.1
netCDF4==1.2.1
numpy==1.10.1
petulant-bear==0.1.3
pyproj==1.9.4
python-dateutil
requests
retrying==1.3.3
scipy==0.9.0
six
tendo==0.2.8
GDAL==1.11.0
