configparser
matplotlib
netCDF4
numpy
git-python
pandas==1.1.5
python-dateutil
python-dotenv==0.5.1
requests>=2.22.0
pyexcel==0.5.15
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
openpyxl
pykml
retrying==1.3.3
scipy
xlrd
beautifulsoup4
compliance-checker==4.1.1
