name: data-services

on:
  push:
    branches: [ master ]
    pull_request:
      branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install libudunits2-dev
        run: |
          sudo apt install libudunits2-dev

      # ARDC NRT
      - uses: conda-incubator/setup-miniconda@v2

        with:
          installer-url: https://repo.anaconda.com/miniconda/Miniconda3-py38_4.11.0-Linux-x86_64.sh
          auto-update-conda: true
          environment-file: AODN/AODN-WAVE-NRT/ARDC_API_NRT/environment.yml
          activate-environment: ardc_nrt

      - name: unittests - ARDC_NRT module
        shell: bash -l {0}
        run: |
          pytest AODN/AODN-WAVE-NRT/ARDC_API_NRT

      - name: unittests - data-services common library
        shell: bash -l {0}
        run: |
          conda env update -f environment.yml
          conda activate data_services_3.8
          pytest lib/test/python
